@using StayCShop.Web.Startup
@using StayCShop.Web.Models.Users

@{
    ViewBag.CurrentPageName = PageNames.Brands;
}
@section scripts
{
    <environment names="Development">
        @*<script abp-src="/view-resources/Views/Brands/Index.js" asp-append-version="true"></script>*@
        <script src="~/view-resources/Views/Brands/Index.js" asp-append-version="true"></script>
    </environment>

}


    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h1>@L("Brands")</h1>
                </div>
                <div class="col-sm-6">
                    <!-- <a  href="javascript:;" data-toggle="modal" data-target="#UserCreateModal" class="btn btn-primary float-sm-right"> -->
                    <a id="CreateNewBtn" class="btn btn-primary float-sm-right">
                        <i class="fa fa-plus-square"></i>
                        @L("Create")
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center ">
                                <div class="input-group">
                                    <input type="text" id="TableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")">
                                    <span class="input-group-append">
                                        <button id="GetButton" class="btn btn-primary" type="submit">
                                            <i class="flaticon-search-1" aria-label="@L("Search")"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="align-items-center">
                    <table id="DataTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@L("Actions")</th>
                                <th>@L("Title")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*@await Html.PartialAsync("~/Views/Brands/_CreateOrEditBrandModal.cshtml")*@

@*<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("Users")</h1>
            </div>
            <div class="col-sm-6">
                <a href="javascript:;" data-toggle="modal" data-target="#UserCreateModal" class="btn bg-blue float-sm-right">
                    <i class="fa fa-plus-square"></i>
                    @L("Create")
                </a>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="UsersTable" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>@L("brandName")</th>
                                            <th style="width: 150px">@L("Actions")</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@

