@using StayCShop.Products.Dto;
@using StayCShop.Web.Models.Common.Modals;


@model GetForEditProductDto
@{
    string imgSrc;
}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Products/_EditProductModal.js" asp-append-version="true"></script>
    </environment>

}

@{
    var base64 = Convert.ToBase64String(Model.CoverImage);
    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}
<div class="content d-flex flex-column flex-column-fluid" style="margin-top:20px" id="kt_content">
    <div class="card card-custom">
        <div class="card-header card-header-tabs-line">

            <div class="card-toolbar ">
                @await Html.PartialAsync("_DetailMenu.cshtml", new StayCShop.Common.IdTitleDto { Id = Model.Id.Value, Title = "Detail" })
            </div>
        </div>
        <div class="card-body">
            <form name="InformationForm" role="form" class="form-horizontal">
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" id="DefaultBrandId" value="@Model.BrandId" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-sm-3 text-center margin-top-15 margin-bottom-15">
                                <img id="imageViewrEdit" src="@imgSrc" class="border rounded" style="width: 150px; height: 150px; margin-bottom: 30px; background-color: silver; background-size: cover">
                            </div>
                            <div class="custom-file col-md-8 mb-2">
                                <input id="textFileEdit" type="file" class="custom-file-input form-control-sm" name="coverimage" value="Upload file" />
                                <label class="custom-file-label col-form-label-sm" for="textFileEdit">Choose file</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group row required ">
                                <label class="col-md-3 col-form-label">@L("Name")</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="Name" value="@Model.Name">
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label">@L("Color")</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="Color" value="@Model.Color">
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label">@L("Price")</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="Price" value="@Model.Price">
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label">@L("Material")</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="Material" value="@Model.Material">
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label">@L("Size")</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="Size" value="@Model.Size">
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label">@L("Quantity")</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="Quantity" value="@Model.Quantity">
                                </div>
                            </div>
                            <div class=" form-group row">
                                <label class="form-label col-md-3">@L("Brand")</label>
                                <div class="col-md-9">
                                    <select id="EditBrandId" class="select2-container" name="BrandId" style="height:20px">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

