@using StayCShop.Web.Startup
@using StayCShop.Products.Dto;

@{
    ViewBag.CurrentPageName = PageNames.Products_Iamges;
}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Products/Images.js" asp-append-version="true"></script>
    </environment>

}
@{
    string imgSrc;
}
@*@{
    var base64 = Convert.ToBase64String(ViewBag.Image);
    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}*@
<div class="card card-custom">
    <div class="card-header card-header-tabs-line">

        <div class="card-toolbar ">
            @await Html.PartialAsync("_DetailMenu.cshtml", new StayCShop.Common.IdTitleDto { Id = @ViewBag.ProductId, Title = "Images" })
        </div>
    </div>
    <div class="card-body">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>@L("Images")</h1>
                    </div>
                    <div class="col-sm-6">
                        <a href="javascript:;" data-toggle="modal" data-target="#CreateOrEditModal" class="btn bg-blue float-sm-right">
                            <i class="fa fa-plus-square"></i>
                            @L("Create")
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <div class="card card-custom gutter-b">
                <div class="card-header">
                    <div class="form">
                        <div class="row">
                            <div class="input-group col-md-6">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn bg-blue btn-search">
                                        <span class="fas fa-search" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <input id="TableFilter" type="text" name="Keyword" class="form-control txt-search" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="DataTable" class="table table-striped table-bordered" data-product-id="@ViewBag.ProductId">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="width: 20px">#</th>
                                    <th>@L("Title")</th>
                                    <th>@L("image")</th>
                                    <th>@L("Description")</th>
                                    <th style="width: 150px">@L("Actions")</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
@await Html.PartialAsync("~/Views/Products/_CreateImageModal.cshtml")


<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
